<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CattleRattle", refresh_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
 
        <div id="maxprice">
  <%= form_tag wclothing_path, :method => 'get' do %>
    <%= text_field_tag :price %>
    <%= submit_tag ("New Max Price") %>
  <% end %>
</div>
      </ul>
    </nav>
  </div>
</header>

<body>
<div id="wrapper">
  <div id="columns">
  <% if @item %>
	<% @item['findItemsByKeywordsResponse'][0]['searchResult'][0]['item'].each do |i| %>
	  <div class="pin">
	  	<a href=<%= i['viewItemURL'][0]%>><%= image_tag i['galleryURL'][0]%></a>
	  	<div class="itemtitle">
	  		<%= i['title'][0] %>
	  	</div>
	  	<div class="itemprice">
	  		<%= number_to_currency(i['sellingStatus'][0]['currentPrice'][0]['__value__'])%>
	  	</div>
	  	<div class="timeremaining">
	  		<%= i['sellingStatus'][0]['timeLeft'][0]%>
	  	</div>
	  </div>
	  <% end %>
	  <% end %>
	</div>
</div>

</body>
</html>


